body {
    background-color: #0aee4e;
}

.header {
    background-color: #013310;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: -10px -10px 22px -10px;
    font-family: Arial, Helvetica, sans-serif;
}

.title-head {
    font-size: 22px;
}

.des-head {
    font-size: 14px;
}

.chatapp {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width: 369px;
    height: 680px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin: auto;
}

.Online {
    padding: 0px 0px 0px 0px;
    margin: 40px 0px 0px -170px;
}

.my-photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    background-color: #028a2a;
    padding: 15px;
    margin: -20px -20px 0px -20px ;
    margin-bottom: 20px;
}

.name {
    margin-left: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    color: #ffffff;
}

.sendmessage {
    align-items: center;
    background-color: #019149;
    padding: 10px;
    width: 350px;
    border-radius: 20px;
    margin-left: 1px;
    margin-right: -60px;
    margin-top: 55px;
}

.message-content {
    background-color: #028a2a;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    width: 160px;
}

.message-content1 {
    background-color: #5c5c5c;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 188px;
    width: 160px;
}

.timestamp{
    color: #c6e0ce;
    font-size: 12px;
}

.timestamp1 {
    text-align: right;
    font-size: 12px;
    color: #dbdbdb;
}

.sendhere {
    background-color: #ebfff1;
    padding: 10px;
    width: 240px;
    border-radius: 10px;
    border: 10px;
    color: #003d12;
    
}

.button {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 85px;
    border: 10px;
}

button:hover {
    background-color: #003d12;
    color: #ffffff;
}

.copyright {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px 0px 0px 0px;
    font-size: 12px;
    color: #ffffff;
    margin-top: 0px;
    padding: 10px;
}